<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item Details</title>
</head>
<body>
    
       <a href="/category_list/"> <button>Back</button> </a>   

        
        <p>Activity: {{items.name}}</p>
        <p>Catergory: {{items.type}}</p> 
        <p>Location: {{items.location}}</p> 
        <p>description: {{items.description}}</p>
        <p>More: {{items.link}} </p>
        <p>Duration: {{items.hours}} hours</p>
        <p>Cost:{{items.cost_per_hour}} * {{items.hours}} </p>

        <a href="/cart/{{item.pk}}"> <button>Add to cart</button> </a>   


</body>
</html>