<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item Details</title>
</head>
<body>
    
       <a href="/category_list/"> <button>Back</button> </a>   

        
        <p>Activity: {{item.name}}</p>
        <p>Catergory: {{item.type}}</p> 
        <p>Location: {{item.location}}</p> 
        <p>description: {{item.description}}</p>
        <p>More: {{item.link}} </p>
        <p>Duration: {{item.hours}} hours</p>
        <p>Cost:{{item.cost_per_hour}} * {{item.hours}} </p>

        <a href="/cart/{{ item.pk }}/"> <button>Add to cart</button> </a>   


</body>
</html>